In [2]:
import chardet
file='spam.csv'
with open(file,'rb') as rawdata:
    result=chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7272080023536335, 'language': ''}

In [3]:
import pandas as pd
data=pd.read_csv('spam.csv',encoding='Windows-1252')
print("Name:  Muhammad Afshan A")
print("Reg No: 212223100035")
data.head()

Name:  Muhammad Afshan A
Reg No: 212223100035

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [6]:
x=data["v2"].values
y=data["v1"].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train=cv.fit_transform(x_train)
x_test=cv.transform(x_test)

In [11]:
x_train

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 58827 stored elements and shape (4457, 7613)>

In [12]:
x_test

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 13975 stored elements and shape (1115, 7613)>

In [13]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'],
      shape=(1115,), dtype=object)

In [22]:
from sklearn import metrics
accuracy=metrics.accuracy_score(y_test,y_pred)
accuracy

0.9766816143497757

In [19]:
cm=metrics.confusion_matrix(y_test,y_pred)
cm

array([[949,   0],
       [ 26, 140]])

In [20]:
cf=metrics.classification_report(y_test,y_pred)
cf

'              precision    recall  f1-score   support\n\n         ham       0.97      1.00      0.99       949\n        spam       1.00      0.84      0.92       166\n\n    accuracy                           0.98      1115\n   macro avg       0.99      0.92      0.95      1115\nweighted avg       0.98      0.98      0.98      1115\n'